@model admin_cms.Models.Domino.Entidades.Pagina

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pagina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("Form")
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

