<div class="text-center">
    <h1 class="display-4">CMS</h1>
    <p>Este é um sistema de treinamento do Torne-se um programador <a target="_blank" href="http://www.torneseumprogramador.com.br/">http://www.torneseumprogramador.com.br</a>.</p>
</div>
